<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= pageTitle %></title>
    <script src="https://use.fontawesome.com/d61f0f5ab8.js"></script>
    <link rel="stylesheet" href="/main.css">
</head>

<body>
    <main>
        <div class="container">
            <form action="/" method="POST">
                <h3>Payment Details</h3>
                <div class="icon-container">
                    <i class="fa fa-cc-visa" style="color:navy;"></i>
                    <i class="fa fa-cc-paypal" style="color:blue;"></i>
                    <i class="fa fa-cc-mastercard" style="color:red;"></i>
                    <i class="fa fa-cc-discover" style="color:orange;"></i>
                </div>
                <div class="input-data">
                    <label for="holderName">*Name on Card</label>
                    <input type="text" id="holderName" name="cardholdername" placeholder="Card Holder Name" required>
                    <label for="cardNum">*Credit card number</label>
                    <input type="number" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="16" id="cardNum" name="cardnumber" placeholder="Valid Card Number" required>
                </div>
                <div class="row">
                    <div class="col-50">
                        <label for="expireMonthYear">*Expiration Date</label>
                        <input type="text" oninput="javascript: if (this.value.length == 2) this.value = this.value.concat('/'); if (this.value.length > 5) this.value = this.value.slice(0, this.maxLength);" id="expireMonthYear" name="expdate" placeholder="MM/YY" required>
                    </div>
                    <div class="col-50">
                        <label for="cvv">*CVV</label>
                        <input type="text" oninput="javascript: if (this.value.length > 3) this.value = this.value.slice(0, this.maxLength);" id="cvv" name="cvv" placeholder="CVV" required>
                    </div>
                </div>
                <input type="submit" value="Submit" class="btn">
            </form>
        </div>
    </main>
</body>